@primary-background-color: #f4f3f0;
@secondary-background-color: #4a8faa;

@primary-text-color:#333;
@secondary-text-color:#fff;

body {
        background-color: @primary-background-color;
        color: @primary-text-color;
}

header {
    background-color: @secondary-background-color;
    color: @secondary-text-color;
}